* {
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.4em;
  }

#game-branding {
    font-family: 'Bungee Shade', cursive;
    font-size: 2em;
    color: #FDE34D
}

a:hover#game-branding {
    color: tomato;
} 

img.chicken {
    height: 400px;
    position: relative;
    top: 300px;
    left: 250px;
}

#game-space {
    height: 700px;
    width: 900px;
    overflow: hidden;
    background-size: 110%;
    background-image: url("../images/background.png");
}

img#second-chicken {
    display: none;
    z-index: 100;
}

img#first-chicken {
    z-index: 100;
}
/* 
img#background1 {
    z-index: 0;
    width: 900px;
    height: 700px;
    bottom: -800px;
    left: 0px;
} */

#word-bubble {
    display: none;
    width: 500px;
    position: absolute;
    top: 150px;
    left: 400px;
    height: 250px;
    z-index: 10;

}

#game-status {
    margin: 10px 0px;
    overflow: auto;
    line-height: 1em;
}

#correct-word {
    position: absolute;
    right: 10px; 
    width: 400px;
    top: 250px;
    text-align: center;
    z-index: 10;
}

#directions {
    border: 10px dotted #FDE34D;
    margin: 20px 0px 0px 0px;
}

#background {
    background-color: black;
    height: 100%;
}

.navbar {
    background-color: black;
}

.navbar-brand {
    margin-left: 10%;
}

.container {
    background-color: white;
}

.warning {
    color: tomato;
    /* font-family: 'Bungee', cursive; */
    font-style: oblique;
    font-weight: bold;  
    font-variant: small-caps;
    font-size: 1.5em;  
}

#correct-word {
    font-family: 'Bungee', cursive;
    letter-spacing: .1em;
}