* {
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.4em;
  }

#game-branding {
    font-family: 'Bungee Shade', cursive;
    color: black;
    font-size: 2em;
}

a:hover#game-branding {
    color: tomato;
} 

img {
    height: 400px;
    position: relative;
    top: 100px;
    left: 250px; 
}

#game-space {
    height: 500px;
    overflow: hidden;
}

#word-bubble {
    display: none;
    width: 500px;
    position: absolute;
    top: -100px;
    left: 400px;
    height: 300px;

}

#correct-word {
    position: absolute;
    right: 10px; 
    width: 400px;
    top: 50px;
    text-align: center;
    /* border: 10px solid firebrick; */
}

#directions {
    border: 10px dotted #FDE34D;
    margin: 20px 0px;
}

#background {
    background-color: black;
    height: 100%;
}

.navbar {
    background-color: white;
}

.container {
    background-color: white;
}

.warning {
    color: tomato;
    /* font-family: 'Bungee', cursive; */
    font-style: oblique;
    font-weight: bold;  
    font-variant: small-caps;
    font-size: 1.5em;  
}

#correct-word {
    font-family: 'Bungee', cursive;
    letter-spacing: .2em;
}