* {
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5em;
  }

#game-branding {
    font-family: 'Bungee Shade', cursive;
    font-size: 2em;
    color: #FDE34D
}

a:hover#game-branding {
    color: tomato;
} 

img.chicken {
    height: 400px;
    position: relative;
    top: 300px;
    left: 325px;
}

#game-space {
    height: 700px;
    width: 800px;
    overflow: hidden;
    background-size: 110%;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    position: relative;
    
}

#final-loss {
    display: none;
    position: absolute;
    width: 300px;
    top: 380px;
    right: 435px; 
    text-align: center;
    line-height: 0.3em;
    transform-origin: 0 0;
    transform: rotate(340deg);
}

#final-loss h2 {
    font-family: 'Bungee Shade', cursive;
    color: black;
    font-size: 4em;
}

img#second-chicken {
    display: none;
    z-index: 10;
}

img#first-chicken {
    z-index: 10;
}

.chicken {
    position: absolute;
}

#word-bubble {
    display: none;
    width: 400px;
    position: absolute;
    top: 150px;
    left: 480px;
    height: 250px;
    z-index: 100;

}

#game-status {
    margin: 10px 0px;
    overflow: auto;
    line-height: 1em;
}

#correct-word {
    position: absolute;
    right: -30px; 
    width: 400px;
    top: 250px;
    text-align: center;
    z-index: 10;
}

#directions {
    border: 10px dotted #FDE34D;
    margin: 20px 0px 0px 0px;
}

#background {
    background-color: black;
    height: 100%;
}

.navbar {
    background-color: black;
}

.navbar-brand {
    margin-left: 10%;
}

.container {
    background-color: white;
}

.warning {
    color: tomato;
    font-style: oblique;
    font-weight: bold;  
    font-variant: small-caps;
    font-size: 1.5em;  
}

#correct-word {
    font-family: 'Bungee', cursive;
    letter-spacing: .1em;
}