* {
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.4em;
  }

#game-branding {
    font-family: 'Bungee Shade', cursive;
    color: black;
}

a:hover#game-branding {
    color: tomato;
} 

img {
    height: 300px;
}

.warning {
    color: tomato;
    /* font-family: 'Bungee', cursive; */
    font-style: oblique;
    font-weight: bold;  
    font-variant: small-caps;
    font-size: 1.5em;  
}

#correct-word {
    font-family: 'Bungee', cursive;
    letter-spacing: .5em;
}